form input{
    width: 30%;
    height: 35px;
     
}
button{
    height: 40px;
    margin-left: 20px;
    border: 1px solid white;
    background: transparent;
    color: white;
    width: 15%;
    font-size: 20px;
}
::placeholder{
    color:#878f99;
    font-size: 15px;
}
.clearall{
    width: 30%;
    background: #F6A57A;
    margin-top: 20px;
}
.item{
    border:1px solid white;
    font-size: 30px;
    color: white;
    width: 40%;
    margin: auto;
    margin-top: 10px;
    text-align: start;
}
.item i{
    font-size:20px;
    float:right;
    margin-top: 5px;
    color: aquamarine;
}
.item .fa-trash-alt{
    color: red;
    margin-left: 10px;
    margin-right: 10px;
}